
.btn-outline-success{
    background-color: green;
}
.heading{
    padding: 20px;
    text-align: center;
    font-family: Ubuntu,'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
    padding-top: 20px;
}