.heading {
    padding: 20px;
    text-align: center;
    font-family: Ubuntu,'Open Sans', 'Helvetica Neue', sans-serif; }

img {
    padding-top: 20px; 
}

.card{
    margin-top: 20px;
}

body {
    margin: 24px 10px;
   } 